<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="static/insertMarks.css" rel="stylesheet">
    
</head>
<body> <center>
  <div class="container">
    {% if messages %}
      {% for message in  messages %}

        <div class="alert alert-warning alert-dismissible fade show" role="alert">
         {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
    {% endif %}

  </div>
 <h1 style="color: rgb(242, 35, 114); font-family:'Times New Roman', Times, serif;">Student PT Marks</h1>
  <h4 style="color: rgb(99, 90, 224); font-family:'Times New Roman', Times, serif; ">Note:
        1. If Question is not attempted then put null in field</h4>
    <h4>2. If Student is Absent then put AB in field</h4>
 
  </center>

  <div class="main">
    <center><h1>Insert Marks</h1></center>
  <form action="student" method="post">
      {% csrf_token %}
      <lable for="course_code">Course Code :</lable>&nbsp;&nbsp;&nbsp;
    
    <input type="text" id="course_code" name="course_code" required><br><br>
  
    <lable for="course_code">Roll No :</lable>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    
    <input type="text" id="roll_no" name="roll_no" required><br><br>
  
      <lable for="branch">Branch :</lable>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <select id="branch" name="branch">
    <option value ="Computer Technology">Computer Technology </option>
    <option value ="Information Technology"> Information Technology </option>
    <option value ="Automobile Engineering"> Automobile Engineering </option>
    <option value ="Civil Engineering"> Civil Engineering </option>
    <option value ="Mechanical Engineering"> Mechanical Engineering </option>
    <option value ="ENTC"> ENTC </option>
    <option value ="Polymer Engineering"> Polymer Engineering </option>
    <option value ="Mechatronic Engineering"> Mechatronic Engineering </option>
    <option value ="DDGM"> DDGM </option>
    <option value ="Interior Design"> Interior Design </option>
  
    </select>&nbsp;&nbsp;
    
      <lable for="year">year :</lable>
    <select id="year" name="year">
      <option value="1">1 </option>
      <option value="2"> 2 </option>
      <option value="3">3 </option>
    </select>&nbsp;&nbsp;
      
  <lable for="pt">PT :</lable>
  <select id="pt" name="pt">
  
    <option value="1">1 </option>
    <option value="2"> 2 </option>
  </select>
  <br><br>
  <label for="Question 1">Question 1 :</label>&nbsp;&nbsp;&nbsp;&nbsp;
  <input type="text" name="Q1" id="Q1" required>
  <br><br>
  <label for="Question 2">Question 2 :</label>&nbsp;&nbsp;&nbsp;&nbsp;
  <input type="text" name="Q2" id="Q2" required>
  <br><br>
  <label for="Question 3">Question 3 :</label>&nbsp;&nbsp;&nbsp;&nbsp;
  <input type="text" name="Q3" id="Q3" required>
  <br><br>
  <label for="Question 4">Question 4 :</label>&nbsp;&nbsp;&nbsp;&nbsp;
  <input type="text" name="Q4" id="Q4" required>
  <br><br>
  <label for="Question 5">Question 5 :</label>&nbsp;&nbsp;&nbsp;&nbsp;
  <input type="text" name="Q5" id="Q5" required>
  <br><br>
  <label for="Question 6">Question 6 :</label>&nbsp;&nbsp;&nbsp;&nbsp;
  <input type="text" name="Q6" id="Q6" required>
  <br><br>
  <label for="Question 7">Question 7 :</label>&nbsp;&nbsp;&nbsp;&nbsp;
  <input type="text" name="Q7" id="Q7" required>
  <br><br>
  <label for="Question 8">Question 8 :</label>&nbsp;&nbsp;&nbsp;&nbsp;
  <input type="text" name="Q8" id="Q8" required><br><br>
   <label for="total">Total(/20) :</label>&nbsp;&nbsp;&nbsp;&nbsp;
  <input type="text" name="total" id="total" required>
  <br><br>
  <center><input type="submit" value="Submit"></center>
  </form>
  </div>
</body>
</html>