{% extends 'base.html'%}
  {% block head %}
  <link href="static/password.css" rel="stylesheet">

{% endblock head %}
            <center><img src="static/1.png"><br></center>
        </head>
        
        {% block body%}
        
        
        <div class="main">
        <form id="change_password-form" action="change_password" method="post"> 
            {% csrf_token %}
        <center><h1>Change Password</h1></center>
       
        
        <label for="UserID">UserID :</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        {{UserID}}
        <br><br>

        <div class="container">
        <label for="password">Password :</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="password" name="password" id="password" required>&nbsp; 

        <span id="eye-icon" onclick="togglePasswordVisibility(this)">
            <img src="static/eye-close.png" id="eye" alt="Eye Closed" width="30px" height="30px">
         </span>
        </div>
  <br>
   
        <div class="container">
          <label for="confirm_password">Confirm Password :</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <input type="password" name="confirm_password" id="confirm_password" required>
         
          <span id="eye-icon2" onclick="togglePasswordVisibility(this)">
              <img src="static/eye-close.png" id="eye2" alt="Eye Closed" width="30px" height="30px">
            </span></div>
        
       
        <center><input type="submit" value="Submit"></center>
        </form>
       </div>

       <script>
        function togglePasswordVisibility(spanElement) {
            const spanElementId = spanElement.id;
            if (spanElementId == "eye-icon")
            {
            const passwordInput = document.getElementById('password');
            const eyeIcon = document.getElementById('eye');
            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
                eyeIcon.src = "static/eye-open.png";
                
            } else {
                passwordInput.type = 'password';              
                eyeIcon.src = "static/eye-close.png";
          }
        }
          if (spanElementId == "eye-icon2")
            {
            const passwordInput = document.getElementById('confirm_password');
            const eyeIcon = document.getElementById('eye2');
           
            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
                eyeIcon.src = "static/eye-open.png";
                
            } else {
                passwordInput.type = 'password';
              
                eyeIcon.src = "static/eye-close.png";
        }
      }
    }
  
      </script>

        {% endblock body%}
    